<DOCTYPE! html>
<html>
    <link rel="stylesheet" href="../stylesheets/bootstrap.css">
    <link rel="stylesheet" href="../stylesheets/style.css">
    
    <head>
        <title>Data Display</title>
    </head>
    <body>
        <div class="col-lg-6">
            <table id="display">
                <tr>
                    <th>Number 1</th>
                    <th>Number 2</th>
                    <th>Average</th>
                </tr>
                <%- data %>
            </table>
        </div>
    </body>
</html>
</DOCTYPE!>