<DOCTYPE! html>
<html>
    <link rel="stylesheet" href="../stylesheets/bootstrap.css">
    <link rel="stylesheet" href="../stylesheets/style.css">
    
    <head>
        <title>Main Page</title>
    </head>
    <body>
        <p>This is the main page. To do something, click a button.</p>
        <a href="display">Display</a>
        <a href="entry">Enter</a>
    </body>
</html>
</DOCTYPE!>